:root {
  --background: #181414;
  --sec: #a476ff;
  --sec-light: #eee5ff; /* A lighter shade of --sec */
  --white: #dfdfdf;
  --white-light: #f0f0f0; /* A slightly lighter white */
  --white-icon: #f3f3f398;
  --white-icon-tr: #f3f3f310;
  --card-bg: #00000098;
  --button-text: #dfdfdf;
}

.light {
  --background: #eee6e6;
  --sec: #a476ff;
  --sec-light: #eee5ff; /* A lighter shade of --sec */
  --white: #090808;
  --white-light: #f0f0f0; /* A slightly lighter white */
  --white-icon: #00000098;
  --white-icon-tr: #1c1c1ccb;
  --card-bg: #fffdfd;
  --button-text: #dfdfdf;
}

* {
  font-family:
    "montserrat",
    -apple-system,
    system-ui,
    sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  transition:
    background-color 0.3s,
    color 0.3s;
}

.shiny-sec {
  background: linear-gradient(135deg, var(--sec) 25%, var(--sec-light) 50%, var(--sec) 75%);
  background-size: 400% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: shine 3s linear infinite;
}

.shiny-white {
  background: linear-gradient(135deg, var(--white) 25%, var(--white-light) 50%, var(--white) 75%);
  background-size: 400% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100% 50%;
  }
  30%,
  70% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
