---
import Layout from "@/layouts/Layout.astro";
import { Talk, pastTalks, upcomingTalks } from "@/data/talks";
import TalkCard from "@/components/talkCard.astro";
import Footer from "@/components/footer.astro";

const chipStyles: Record<Talk["type"], string> = {
  Conference: "bg-sky-600 hover:bg-sky-700 text-white",
  Workshop: "bg-amber-500 hover:bg-amber-600 text-black",
  Meetup: "bg-purple-600 hover:bg-purple-700 text-white",
};
---

<Layout title="Rijo Sam">
  <section id="talks" class="py-12 border-t border-[#ffffff10] text-[var(--white)]">
    <div class="max-w-6xl mx-auto px-6 py-12 md:py-24">
      <a href="javascript:history.back()" class="inline-flex items-center text-[var(--white-icon)] hover:text-[var(--white)] mb-8 group text-sm" aria-label="Go back to the previous page">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-5 mr-2 transition-transform duration-200 group-hover:-translate-x-1"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
        </svg>
        Back
      </a>

      <div class="mb-16">
      <!--<h2 class="text-3xl md:text-4xl font-medium mb-6 text-[var(&#45;&#45;sec)] shiny-sec">Upcoming Engagements</h2> -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          {upcomingTalks.map((talk) => <TalkCard talk={talk} />)}
        </div>
      </div>

      <div class="mb-16">
        <h2 class="text-3xl md:text-4xl font-medium mb-6 text-[var(--sec)] shiny-sec">Past Engagements</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          {pastTalks.map((talk) => <TalkCard talk={talk} />)}
        </div>
      </div>
    </div>
  </section>
  <Footer />
</Layout>
