---
import TalkCard from "@/components/talkCard.astro";
import { pastTalks, upcomingTalks } from "@/data/talks";
const INITIAL_TALKS_TO_SHOW = 6;
const talksToShow = [...upcomingTalks, ...pastTalks].slice(
	0,
	INITIAL_TALKS_TO_SHOW,
);
---

<section id="talks" class="py-12 border-t border-[#ffffff10] text-[var(--white)]">
  <div class="max-w-6xl mx-auto px-6 py-12 md:py-16">
    <h2 class="text-4xl md:text-4xl font-medium text-[var(--sec)] mb-10 shiny-sec">My Talks</h2>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      {talksToShow.map((talk) => <TalkCard talk={talk} />)}
    </div>
    <div class="mt-10 text-center">
      <a
        href="/talks"
        id="view-more-talks-btn"
        class="px-6 py-3 text-sm font-medium text-[var(--white)] bg-[var(--sec)] hover:bg-opacity-80 rounded-lg transition-colors duration-300 focus:ring-4 focus:outline-none focus:ring-[var(--sec-light)]"
      >
        View More Talks
      </a>
    </div>
  </div>
</section>
