---
import "@/styles/index.css";
import Posthog from "@/components/posthog.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Java Chapter Lead" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta property="og:title" content="RijoSam" />
    <meta property="og:description" content="Java Chapter Lead" />
    <meta property="og:image" content="https://res.cloudinary.com/dnmuyrcd7/image/upload/f_auto,q_auto/v1/rijo/jomlf2etjmhosioucdhv" />
    <meta property="og:url" content="https://rijosam.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Rijo Sam Portfolio" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" media="print" onload="this.media='all'" />
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" />
    </noscript>

    <title>{title}</title>

    <Posthog />
  </head>
  <body class="bg-[--background] px-4 md:px-12 lg:px-20 xl:px-48 2xl:px-64">
    <slot />
  </body>
</html>
